html {
  scroll-behavior: smooth;
}

#humberger {
  display: block;
}

i {
  font-size: 30px;
  margin: 20px 0 0 20px;
}

.nav__list {
  display: none;
}

.social {
  display: none;
}

/* overlay */

.overlay-background {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(37, 37, 37, 0.747);
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  top: 10%;
  text-align: left;
}

a {
  color: #757474;
}

.overlay-background a {
  padding: 15px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  font-size: 32px;
  font-style: normal;
  font-weight: 450;
  line-height: 44px;
  text-align: left;
  color: #fff;
}

.overlay-background .closeIcon {
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}

.blur {
  filter: blur(8px);
}

.menu-item-border {
  border: 5px solid #ec5242;
  padding: 8px;
  color: #ec5242;
  width: 60%;
}

.item-link {
  color: #ec5242;
}

a:hover {
  color: #ec5242;
}

@media screen and (min-width: 768px) {
  .social {
    height: 30px;
    background-color: #272a31;
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15%;
  }

  .social > div {
    padding: 0 10px;
  }

  .social i {
    font-size: 14px;
    margin-bottom: 20px;
  }

  #humberger {
    display: none;
  }

  .nav {
    height: 120px;
  }

  .nav__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 80px 0 80px;
  }

  .highlited {
    color: #ec5242;
  }

  .nav__list__logo {
    margin-right: 90px;
  }

  a:link {
    text-decoration: none;
  }

  .nav__list img {
    width: 80%;
    height: 50px;
    margin-top: 10px;
  }

  .item-border {
    border: 5px solid #ec5242;
    padding: 8px;
    color: #ec5242;
  }
}
