@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #555555;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 110px 40px;
  display: block;
  position: relative;
  margin-top: -50px;
  color: #555555;
  z-index: -1;
}

.header::after {
  content: '';
  background: url('../assets/bg-home.jpg');
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header__header2 {
  color: #ec5242;
}

.header__header1 {
  font-family: 'COCOGOOSE', sans-serif;
  padding: 20px 0;
  font-size: 1.9em;
  font-weight: 700;
  color: #ec5242;
}

.header__text {
  padding: 20px;
  border: 3.5px solid #fff;
  background-color: #f7f7f7;
  margin: 5px;
  line-height: 25px;
}

.header__date {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 1.3em;
  padding: 20px 0 5px 0;
}

.main {
  background-image: url('../assets/main-bg.png');
  background-color: #272a31;
  color: #fff;
  padding: 40px 0;
}

.main__line {
  width: 15%;
  height: 2px;
  background-color: #ec5242;
  margin-top: 15px;
}

.main__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__List {
  padding-top: 30px;
}

.main__List__item {
  display: grid;
  grid-template-columns: 18% 18% 58%;
  background-color: #5f5f5f50;
  grid-column-gap: 3%;
  padding: 4% 1%;
  margin: 20px;
}

.main__List__item__SubItem {
  align-self: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.main__List__item__title {
  font-size: 17px;
  color: #ec5242;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.main-btn {
  padding: 30px 15%;
  background-color: #ec5242;
  color: #fff;
  border-style: none;
  font-size: 20px;
}

/**************speakers styles****************/
.speakers {
  padding: 20px;
}

.speakers__line {
  width: 15%;
  height: 2px;
  background-color: #ec5242;
  margin-top: 15px;
}

.speakers__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers__list__item {
  display: grid;
  grid-template-columns: 35% 57%;
  grid-column-gap: 8%;
  margin-top: 40px;
  box-sizing: border-box;
}

.speaker__list__item__img {
  background-image: url('../assets/chess.jpg');
  background-size: 40% 40%;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}

.speaker__list__item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  padding-left: 12%;
  padding-top: 12%;
}

.speaker__list__item__content {
  padding-top: 8%;
}

.speaker__list__item__content__bio {
  font-style: italic;
  color: #ec5242;
}

.speakers__bio__line {
  width: 8%;
  height: 2px;
  background-color: #d3d3d3;
  margin: 10px 0;
}

.speaker__list__item__content p {
  font-size: 12px;
}

.speaker-btn {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  margin-top: 70px;
  color: #555555;
}

.partner {
  display: none;
}

.footer__container {
  display: none;
}

.icon-tab {
  margin: 20px 0 0 20px;
  width: 30px;
  z-index: 2;
  cursor: pointer;
}

.tab {
  background-color: #131313;
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .navbar-humberger {
    display: none;
  }

  .header {
    padding-left: 10%;
    height: 95vh;
    padding-top: 5%;
  }

  .header__header2 {
    font-size: 2.5em;
  }

  .header__header1 {
    width: 70%;
    font-size: 4.3em;
  }

  .header__header1 span {
    display: block;
  }

  .header__text {
    padding: 20px;
    border: 3.5px solid #fff;
    background-color: #f7f7f7;
    margin: 20px 0;
    width: 35%;
  }

  .header__date {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 1.5em;
    padding: 10px 0 10px 0;
  }

  .main__List {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
  }

  .main__List__item__container {
    text-align: center;
  }

  .main__List__item {
    display: grid;
    grid-template-columns: 100%;
    background-color: #5f5f5f50;
    padding: 10% 2%;
    margin: 3px;
    text-align: center;
  }

  .main__List__item__SubItem {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  .main__List__item__title {
    font-size: 15px;
    font-weight: 1000;
  }

  .btn-container {
    margin-top: 15px;
  }

  .speakers {
    padding: 40px;
  }

  .speakers__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
  }

  .speaker-btn {
    display: none;
  }

  .partner {
    display: block;
    background-color: #414246;
    text-align: center;
    padding: 0 20px;
    margin-top: 60px;
  }

  .partner h2 {
    color: #fff;
    padding-top: 30px;
  }

  .partner__logos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 600;
    font-size: 20px;
    color: #8d8d8d;
    margin-top: 10px;
  }

  .partner__logos span {
    padding-bottom: 15px;
    margin: 10px;
  }

  .partner__logos__type1 {
    font-family: 'Lato', sans-serif;
  }

  .partner__logos__type2 {
    font-family: 'COCOGOOSE', sans-serif;
  }

  .footer__container {
    display: flex;
    justify-content: space-around;
  }

  .footer__container img {
    width: 13%;
    height: 7%;
  }

  .footer__container__content {
    align-self: center;
  }
}
